{% extends 'blogapp/base.html' %}
{% block title %}projapati{% endblock %}



<!-- stylesheet************************************* -->
{% block stylesheet %}
<!-- start your stylesheet -->
{% endblock %}



<!-- body/content************************************* -->
{% block content %}
<!-- start your body tag -->
{% endblock %}


<!-- script in body ************************************** -->
{% block script %}
<!-- start your script -->
{% endblock %}

<!-- footer************************************** -->